// stylesheets/welcome/index.scss

@import "bootstrap";
@import "variaveis";


/* bem vindos */
body {
   background: $branco;
   color: #000;
 }
 .container {
   margin-top: 100px;
 }

 .btn-custom {
  background-color: black; // Altere para a cor preta
  border-color: black; // Altere a cor da borda, se necessário
  color: $branco;
}

.btn-custom:hover {
  background-color: $branco;// Altere para um tom mais escuro ao passar o mouse
  border-color: #d6d6d6; // Altere a cor da borda ao passar o mouse
  color: $preto;
}