// stylesheets/welcome/index.scss

@import "bootstrap";

/* Estilos personalizados para a barra de navegação */
.navbar {
  background-color: #ffffff;
  text-decoration: none;
}

.navbar-brand {
    display: flex;
    align-items: center;
  }