<%= stylesheet_link_tag 'welcome' %>

<title>Bem-Vindo</title>


<div class="container text-center">
  <h1>Bem-Vindo</h1>
  <p>Esta é uma página de boas-vindas minimalista em preto e branco.</p>
  <button class="btn btn-primary">Começar um post</button>
</div>

<style>
    body {
      background-color: #000;
      color: #fff;
    }
    .container {
      margin-top: 100px;
    }
  </style>