<%= stylesheet_link_tag 'welcome' %>

<title>Bem-Vindo</title>


<div class="container text-center">
  <h1>Bem-Vindo!</h1> </br>
  <h5>Escreva o que você está sentindo.</h5>
  <p>Sinta-se à vontade para desabafar nesse site preto e branco.</p> </br>
  
  <a href="<%= new_post_path %>">
  <button class="btn btn-custom">Começar a pensar!</button>
</a>

</div>
